{% block form_errors %}
    {% if errors|length > 0 %}
        {% if compound %}
            {# ... display the global form errors #}
            <ul>
                {% for error in errors %}
                {#<li>{{ error.message }}</li>#}
                <li><span class="badge text-bg-danger">{{ error.message }}</span></li>
                {% endfor %}
            </ul>
        {% else %}
            {# ... display the errors for a single field #}
            {% for error in errors %}
                {#<div class="invalid-feedback d-inline">{{ error.message }}</div>#}
                <span class="badge text-bg-danger">{{ error.message }}</span>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock form_errors %}